<article class="content-panel">
  <h2 class="content-header">Upcoming event</h2>

  <div class="content-list">
    <div class="content-list--item">
      <div class="content-list--left-block">
        <img
          class="content-list--item--img"
          src="assets/images/logo-item.jpg"
          alt="item image"
        />
        <div class="content-list--item--info">
          <h3>AHA Health Systems 2020 Virtual Leadership Forum</h3>
          <p class="content-list--item-text">
            Thursday October 15, 2020 and Friday Octobee 16, 2020 12:00
          </p>
          <p class="content-list--item-text">
            12:00 pm to 2:00 pm Eastern Time Zone
          </p>
        </div>
      </div>
      <div class="content-list--item--actions">
        <button class="btn-soon">Coming soon</button>
        <a
          class="link-download"
          href="assets/agenda.pdf"
          download="Forum agenda"
          >AGENDA AND SPEAKERS</a
        >
      </div>
      <p class="content-list--item-p">
        Thank you for registering for the AHA Health Systems 2020 Virtual Leadership Forum. A fantastic line-up of speakers will address leadership from historical times to present day uncertainties; share new thinking to address health inequities and build healthy communities; and provide election insights and an interactive AHA advocacy, public policy and field leadership update.
      </p>
    </div>
  </div>
  <footer class="footer">
    <p class="footer-title">
      AHA thanks it underwriters for the Health Systems 2020 Virtual Leadership Forum:
    </p>
    <div class="sponsors">
      <div class="sponsors-item">
        <img
          src="../../assets/images/sh_logo_rgb.png"
          alt="siemens healthineers"
        >
      </div>
      <div class="sponsors-item">
        <img
          src="../../assets/images/Cerner+color+logo+horizontal.jpg"
          alt="cerner"
        >
      </div>
      <div class="sponsors-item">
        <img
          src="../../assets/images/CareTech-logo.png"
          alt="care-tech"
        >
      </div>
      <div class="sponsors-item">
        <img
          src="../../assets/images/FA_RBCCNB_LOGO_CMYK.png"
          alt="first american"
        >
      </div>
    </div>
  </footer>
</article>
