@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: "Roboto", "Montserrat", sans-serif;
  box-sizing: border-box;
  font-style: normal;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}
